/ This page allows the assumption of an identity as another actor, if an admin

- if !defined?(handle)
  - handle = ''

.panel
  h2
    = I18n.t('admins.assume')

.panel
  h3
    = I18n.t('information')

  == partial(:flash)

  form action="/admins/assume" method=:post enctype="multipart/form-data"
    .form-item
      label for=:name
        = I18n.t('fields.handle')
      input name=:handle value=handle

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('admins.assume')
