.panel
  h1
    = I18n.t('requests.index')

- if event.owned_by?(current_actor)
  .panel
    p
      span>
        = I18n.t('go-back-to')
      a href="/events/#{event.id}"
        = event.name

  .event-request-index.panel
    h2#request-index
      = I18n.t('requests.request-index')

    == partial(:flash)

    - if !event.open
      p
        = I18n.t('requests.closed')
      p
        = I18n.t('requests.to-reopen')
    - else
      p
        | Link to request signup:

      p
        code
          = "#{request.base_url}/events/#{event.id}/requests?code=#{event.code}"

    h3
      | Slotted

    ul.participants
      - if event.slotted.none?
        p
          = I18n.t('events.nothing')

      - event.slotted.each do |actor|
        / We want spaces before each so the content is justified and looks nice
        li.participant<
          a href="##{actor.id}-requests"
            img.avatar src=actor.url_for_avatar role=:presentation
            img.service-icon src="/images/services/#{event.service}.svg"
            span.name=actor.name

    h3
      | Unslotted

    ul.participants
      - if event.unslotted.none?
        p
          = I18n.t('events.nothing')

      - event.unslotted.each do |actor|
        / We want spaces before each so the content is justified and looks nice
        li.participant<
          a href="##{actor.id}-requests"
            img.avatar src=actor.url_for_avatar role=:presentation
            img.service-icon src="/images/services/#{event.service}.svg"
            span.name=actor.name

  #event-planner.panel
    h2
      = I18n.t('events.planner')

    == partial(:"events/planner", locals: {event: event, requests: true})

  - event.requesters.each do |actor|
    .event-request.panel id="#{actor.id}-requests"
      h2
        img.avatar src=actor.url_for_avatar
        = actor.name

      p
        a href="#request-index"
          = I18n.t('requests.go-to-index')

      - slots = actor.slots.where(event:)
      - if slots.any?
        h3
          | Slotted
        == partial(:"events/schedule", locals: {event:, show_last: false, slots:, show_back_to_top: false})

      h3
        = I18n.t('requests.timeslots-requested')

      / Probably should prequery all of the requesters and their twitch links at once, but oh well
      / TODO: make this query a bit better
      == partial(:"events/schedule", locals: {event: event, show_last: false, slots: event.requests.where(actor: actor).order(start: :asc).preload(actor: :"#{event.service}_link"), show_back_to_top: false})

- elsif current_actor && !event.open
  / No longer open
  .panel
    p
      = I18n.t('requests.closed')
- elsif current_actor
  / This is the actor's point of view
  - if event.image.url
    img.event.static src=event.url_for_image role=:presentation

  #event-name.panel
    h2
      = event.name || 'Raid Train'
    p
      time.start datetime=event.start.utc.iso8601
        = I18n.l event.start, format: :long
      = " - "
      time.end datetime=event.end.utc.iso8601
        = I18n.l event.end, format: :long

  .event-request.panel
    h2
      = I18n.t('requests.yours')

    == partial(:flash)

    p
      a href="/events/#{event.id}/requests/new"
        = I18n.t('requests.new')

    == partial(:"events/schedule", locals: {event: event, show_last: false, slots: current_actor.requests.where(event: event).order(start: :asc).preload(actor: :"#{event.service}_link")})
- else
  / Need to log in / authenticate
  .panel
    p
      | To register a timeslot, please log in with the link below to authenticate with the stream service.

    p
      a href="/login?referer=#{CGI.escape(request.fullpath)}"
        = I18n.t('login')

script src='/js/planner.js?#{cache_buster}'
script src='/js/events.js?#{cache_buster}'
