.panel
  h1
    = I18n.t('requests.new')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}/requests"
      = I18n.t('requests.index')

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start&.utc&.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end&.utc&.iso8601
      = I18n.l event.end, format: :long

.panel
  h3
    | Info

  == partial(:flash)

  form action="/events/#{event.id}/requests" method=:post
    - if params[:referer]
      input type=:hidden name=:referer value=params[:referer]

    / Timezone offset
    input type=:hidden name=:offset value="0"

    .form-item
      p
      p.timezone-label hidden=true aria-hidden=:true
        | Times are in your local timezone
      p.timezone-label
        | Times are in UTC

    .form-item
      label for=:start
        = I18n.t('fields.start')
      input name=:start type=:"datetime-local" value=request.start&.iso8601&.gsub('Z', '')

    .form-item
      label for=:end
        = I18n.t('fields.end')
      input name=:end type=:"datetime-local" value=request.end&.iso8601&.gsub('Z', '')

    - unless event.raid_train?
      .form-item
        p
        p
          = I18n.t 'slots.hide_end'

      .form-item
        label for=:hide_end
          = I18n.t('fields.hide_end')
        input type=:hidden name=:hide_end value=:off
        input name=:hide_end type=:checkbox checked=request.hide_end

    .form-item
      label for=:note
        = I18n.t('fields.note')
      textarea name=:note placeholder=I18n.t('placeholders.request-note')
        = request.note

    .form-item
      label for=:description
        = I18n.t('fields.description')
      textarea name=:description placeholder=I18n.t('placeholders.request-description')
        = request.description

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('submit')

script src='/js/edit-datetime.js?#{cache_buster}'
