.panel
  h1
    = I18n.t('collaborators.edit')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start&.utc&.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end&.utc&.iso8601
      = I18n.l event.end, format: :long

.panel
  h3
    | Info

  == partial(:flash)

  form action="/events/#{event.id}/slots/#{slot.id}/collaborators/#{collaborator.id}" method=:post enctype="multipart/form-data"
    input type=:hidden name=:_method value=:put
    - if params[:referer]
      input type=:hidden name=:referer value=params[:referer]

    .form-item
      label for=:bio
        = I18n.t('fields.bio')
      textarea name=:bio placeholder=I18n.t('placeholders.slot-bio')
        = collaborator.bio

    .form-item
      label for=:image
        = I18n.t('fields.image')
      .upload-item
        - if collaborator.image.url
          img src=collaborator.image.url
        input name=:image type=:file

    button.button type=:submit
      = I18n.t('save')
