.event-benefit.panel {
  & > div.fundraiser {
    margin-top: 1rem;
    min-height: 10rem;
    position: relative;

    > img {
      height: 10rem;
      left: 0;
      top: 0;
      position: absolute;
      width: 10rem;
    }

    h3,
    h4,
    p {
      padding-left: 11rem;
    }

    & ~ div.fundraiser-organizer {
      margin-top: 1rem;

      img {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        margin-right: 0.75rem;
      }

      h3,
      h4,
      p {
        padding-left: 0;
      }
    }
  }

  > .fundraiser-bar {
    border: 0.01625rem solid #888;
    border-radius: 0.75rem;
    box-sizing: border-box;
    height: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    overflow: hidden;

    .bar {
      background: #7777ff;
      height: 100%;
    }
  }

  > .fundraiser-status {
    span {
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
    }

    span.goal {
      float: right;
    }
  }

  > p {
    margin-top: 1rem;
  }

  p.donate {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
    margin-top: 1rem;
    text-align: center;

    a {
      padding: 0.5rem;
      background: #aaaaff;
      color: white;
      border: 0.01625rem solid #ccccff;
      border-radius: 0.5rem;

      &:hover {
        background: #7777ff;
      }
    }
  }
}
