$active-item-border-color: #a2a2ff;
$active-week-border-color: #ffa2ff;
$current-item-border-color: #ffa2a2;
$current-item-background-color: #fff7f7;
$calendar-date-color: #9c72b5;

#event-calendar {
  h3.calendar-month {
    border-bottom: 0.0625rem solid #ccc;
    margin-bottom: 0.125rem;
    padding-bottom: 0.5rem;
  }

  .calendar-month {
    .calendar-week {
      border: 0.0625rem solid #ccc;
      border-right: none;
      display: flex;
      flex-direction: row;
      overflow: hidden;

      &.active {
        border: 0.0625rem solid $active-week-border-color;
        border-right: none;
      }

      &.active-selection {
        border-bottom: none;

        + .calendar-slots + .calendar-week {
          border-top: none;
        }
      }

      &:not(:nth-last-child(2)) {
        border-bottom: none;
      }

      .calendar-day {
        min-height: 5rem;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;

        &.empty,
        &:empty {
          background: #eee;

          .calendar-date {
            span {
              opacity: 0.25;
            }
          }
        }

        .calendar-date {
          flex: 0 0 1rem;
          text-align: left;
          padding-right: 0.0625rem;
          border-right: 0.0625rem solid #ccc;

          span {
            box-sizing: border-box;
            color: $calendar-date-color;
            display: inline-block;
            font-family: Lato;
            font-weight: bold;

            &.day {
              background-color: #eee;
              border-bottom: 0.0625rem solid #ccc;
              border-right: 0.0625rem solid #ccc;
              padding-right: 0;
              padding-top: 0.125rem;
              padding-bottom: 0.25rem;
              text-align: center;
              width: 2rem;
            }

            &.wday {
              color: #aaa;
              font-weight: normal;
              padding-left: 0.5rem;
            }
          }
        }

        ol.calendar-list {
          display: flex;
          flex: 1 1 100%;
          flex-direction: column;
          width: 100%;

          li {
            border-right: 0.0625rem solid #ccc;
            padding-right: 0.0625rem;
          }

          li.rest {
            flex: 1 0 auto;
          }

          li.calendar-list-item {
            background: white;
            cursor: pointer;
            flex: 0 0 auto;
            margin: 0;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.125rem;

            &.current,
            &:hover {
              border-bottom: 0.0625rem solid $active-item-border-color;
              border-left: 0.125rem solid $active-item-border-color;
              border-right: 0.125rem solid $active-item-border-color;
              border-top: 0.0625rem solid $active-item-border-color;
              padding-bottom: calc(0.25rem - 0.0625rem);
              padding-left: 0;
              padding-right: 0;
              padding-top: calc(0.25rem - 0.0625rem);
            }

            &.current {
              border-color: $current-item-border-color;
              background: $current-item-background-color;

              time.start::before {
                background: $current-item-border-color;
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: 0.5rem;
                margin-right: 0.125rem;
                width: 0.5rem;
              }
            }

            &.active {
              background: #eef;
              border-bottom: 0.0625rem solid $active-item-border-color;
              border-left: 0.125rem solid $active-item-border-color;
              border-right: 0.125rem solid $active-item-border-color;
              border-top: 0.0625rem solid $active-item-border-color;
              padding-bottom: calc(0.25rem - 0.0625rem);
              padding-left: 0;
              padding-right: 0;
              padding-top: calc(0.25rem - 0.0625rem);

              ~ li.calendar-list-item {
                border-right: 0.125rem solid $active-item-border-color;
                padding-right: 0;
              }

              ~ li.rest {
                border-right: 0.125rem solid $active-item-border-color;
                position: relative;

                &::after {
                  background: $active-item-border-color;
                  bottom: -0.5rem;
                  content: '';
                  height: 1rem;
                  position: absolute;
                  right: calc(-0.5rem - 0.0625rem);
                  transform: rotate(45deg);
                  width: 1rem;
                }
              }
            }

            img.avatar {
              border-radius: 0.25rem;
              height: 1.25rem;
              margin: 0.25rem;
              vertical-align: middle;
              width: 1.25rem;
            }

            time {
              font-family: Lato;
              font-size: 1rem;
              font-weight: bold;

              &.end::before {
                content: ' - '
              }
            }

            span.name {
              display: inline-block;
              font-family: Lato;
              font-size: 1rem;
              margin: 0.25rem;
              margin-right: 0;
              margin-top: 0;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .calendar-week + .calendar-slots {
      table.slots {
        tr {
          display: none;

          &.active {
            display: table-row;

            ~ tr.bio {
              display: table-row;

              td.check {
                button {
                  display: none;
                }

                ~ td {
                  display: table-cell;
                }
              }
            }

            ~ tr.slot ~ tr.bio {
              display: none;
            }

            td {
              border-top-style: double;
              border-top-width: 0.1875rem;
            }
          }

          td {
            border-bottom: 0.0625rem solid $active-item-border-color;
            border-top: 0.0625rem solid $active-item-border-color;
          }

          &.has-bio {
            td {
              border-bottom: 0.0625rem solid lighten($active-item-border-color, 10);
            }
          }

          &.bio td {
            border-bottom: 0.0625rem solid lighten($active-item-border-color, 10);
            border-top: 0.0625rem solid lighten($active-item-border-color, 10);
          }

          &.last-bio {
            td {
              border-bottom: 0.0625rem solid $active-item-border-color;
            }
          }

          td:first-child {
            border-left: 0.0625rem solid $active-item-border-color;
          }

          td:last-child {
            border-bottom-style: double;
            border-right: 0.0625rem solid $active-item-border-color;
          }
        }
      }
    }

    .calendar-week.active-selection + .calendar-slots + .calendar-week {
      margin-top: 0.0625rem;
      border-top: 0.0625rem solid #ccc;
    }

    + h3.calendar-month {
      margin-top: 1rem;
    }
  }
}
