// Event listing
.panel.event {
  position: relative;

  img {
    display: inline-block;
    left: 1rem;
    object-fit: contain;
    position: absolute;
    top: 1rem;
    width: 10rem;
    height: 10rem;

    + .description {
      padding-left: 11rem;
      min-height: 10rem;
    }
  }
}

a.top-image,
img.event {
  height: 30rem;
  min-height: 5rem;
  padding: 0.5rem;
  margin: 0 auto;
  vertical-align: top;

  &:not(.static) {
    position: absolute;
    margin: 0;
    top: 0;
    z-index: 9999999;
    border: 0.125rem solid rgba(0.0, 0.0, 0.0, 0.0);
    border-top: none;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;

    + .panel {
      margin-top: 31rem;

      &[aria-hidden='true'] + .panel {
        margin-top: 31rem;
      }
    }
  }

  &.page {
    height: 20rem;

    &:not(.static) {
      + .panel {
        margin-top: 21rem;

        &[aria-hidden='true'] + .panel {
          margin-top: 21rem;
        }
      }
    }
  }
}

a.top-image.temporary img.event {
  position: static;
  margin-top: -1rem;
}

img.event.whole {
  box-shadow: 0 0 0.25rem 0rem black;
}

// Event navigation
nav.event-navigation {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
  width: 0.0625rem;
  z-index: 99999;

  span {
    background: #af88af;
    color: white;
    font-family: Lato;
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    text-decoration: none;

    a {
      background: #af88af;
      color: white;
      display: inline-block;
      font-family: Lato;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem;
      min-width: 6rem;
      text-decoration: none;
      box-shadow: 0 0 0.125rem 0 black;
      z-index: 9;
      position: relative;
    }

    &:first-child::before {
      content: '';
      background: darken(#af88af, 10);
      font-family: Lato;
      font-weight: bold;
      font-size: 1rem;
      height: 1rem;
      left: -0.75rem;
      padding: 1rem 0;
      position: absolute;
      top: 0.25rem;
      width: 1.25rem;
    }

    &:last-child::after {
      content: '';
      background: darken(#af88af, 10);
      font-family: Lato;
      font-weight: bold;
      font-size: 1rem;
      height: 1rem;
      right: -0.75rem;
      padding: 1rem 0;
      position: absolute;
      top: 0.25rem;
      width: 1.25rem;
    }
  }
}

img.event,
a.top-image {
  max-width: 80%;
  padding: 0;

  img.event {
    max-width: none;
    padding: 0.5rem;
  }
}

p.copy-raid-message {
  text-align: center;

  span.copied {
    margin-left: 0.5rem;
  }
}

body > nav {
  & ~ * nav.event-navigation {
    top: 3rem;
  }

  & ~ * a.top-image,
  & ~ * img.event {
    &:not(.static) {
      top: 3rem;

      > img.event {
        top: 0;
      }

      + .panel {
        margin-top: 31rem;

        &[aria-hidden='true'] + .panel {
          margin-top: 31rem;
        }
      }
    }
  }
}

#event-name {
  h1, h2, p {
    text-align: center;
  }
}

.event-request {
  h2 {
    border-bottom: 0.0625rem solid #888;
    height: 3rem;
    line-height: 3rem;
    padding-bottom: 0.5rem;

    img.avatar {
      border-radius: 15%;
      height: 3rem;
      margin-right: 1rem;
      vertical-align: middle;
      width: 3rem;
    }
  }

  table.slots {
    tbody {
      tr.day {
        td {
          h3 {
            time {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

p.pages {
  margin-top: 1rem;
  text-align: center;

  a {
    display: inline-block;

    &.important {
      font-weight: bold;
    }
  }

  a:not(:first-child)::before {
    content: '|';
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  br + a:not(:first-child) {
    margin-top: 0.5rem;
  }

  br + a:not(:first-child)::before {
    display: none;
  }
}

ul.participants {
  text-align: justify;

  li.participant {
    display: inline-block;
    height: 2.5rem;
    font-family: 'Lato', sans-serif;
    line-height: 2.5rem;

    a {
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      vertical-align: middle;
      margin-right: 1rem;

      img.avatar {
        height: 2rem;
        margin-right: 0.5rem;
        vertical-align: middle;
        width: 2rem;
      }

      img.service-icon {
        height: 1rem;
        margin-right: 0.25rem;
        vertical-align: middle;
        width: 1rem;
      }
    }
  }

  &.smaller li.participant {
    height: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.5rem;

    a {
      height: 1rem;
      font-size: 0.75rem;
      line-height: 1rem;

      img.avatar {
        height: 1rem;
        width: 1rem;
      }

      img.service-icon {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

.event-request,
#event-next,
#event-calendar,
#event-schedule {
  table.slots {
    position: relative;
    background: white;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 100%;

    tr:not(.day) {
      td.time {
        text-align: right;
        vertical-align: top;

        time {
          display: block;
          height: 3rem;
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          line-height: 3rem;
          margin-left: 0.5rem;
          margin-right: 1rem;
          vertical-align: middle;
          white-space: nowrap;

          &.unknown-end {
            opacity: 0.5;

            &::before {
              content: 'N/A (';
            }

            &::after {
              content: '?)';
            }
          }

          + p {
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    tr {
      td {
        p:not(:last-child) {
          margin-bottom: 0;
        }

        p.notice {
          font-size: 0.75rem;
          margin-top: 0.25rem;

          &::before {
            content: '('
          }

          &::after {
            content: ')'
          }
        }
      }

      td.description {
        padding-right: 1rem;
      }

      td.edit {
        padding: 0;
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
        width: 1px;
        
        ul.edit-options {
          li.edit-option {
            border-left: 0.0625rem solid #ccc;
            border-right: 0.0625rem solid #ccc;
            border-bottom: 0.0625rem solid #ccc;

            a,
            button.button {
              background: none;
              border: none;
              box-shadow: none;
              box-sizing: border-box;
              color: #9146ff;
              display: inline-block;
              font-family: 'Lato', sans-serif;
              font-size: 1rem;
              font-weight: bold;
              height: 3rem;
              line-height: 1rem;
              margin-right: 1rem;
              padding: 1rem;
              text-align: left;
              text-decoration: none;
              vertical-align: middle;
              width: 100%;

              &:active {
                top: 0;
              }

              &:hover {
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    tr.intermission {
      border-top: 0.0625rem solid #d8d8d8;

      td {
        padding-bottom: 1rem;
	vertical-align: middle;
      }

      td.edit {
        li {
          border-top: 0.0625rem solid #ccc;
        }
      }

      &:not(:first-child) {
        td {
          padding-top: 1.25rem;
          vertical-align: middle;
        }
      }
    }

    tr.day {
      td {
        padding-bottom: 0.25rem;
      }

      &:not(:first-child) {
        td {
          padding-top: 1rem;
        }
      }
    }

    tr.bio {
      border-top: 0.0625rem solid #e8e8e8;
      position: relative;

      &:not(.bound):active, &:not(.bound):focus, &.open {
          & > td, & > td.check ~ td {
            display: table-cell;
          }

          & > td.check {
            height: 1px;
          }
      }

      td.check {
        height: 1rem;

        button.button.open-bio {
          position: absolute;
          top: -0.85rem;
          left: calc(50% - 8rem);
          width: 16rem;
          height: 1.5rem;
        }

        & ~ td {
          display: none;
        }
      }

      &:not(.bound) {
        &:active, &:focus {
          & ~ td {
            display: table-cell;
          }
        }
      }

      td:not(:last-child) {
        padding-top: 1rem;

        &:not(.description) {
          width: 1px;
        }

        img {
          vertical-align: top;
          width: calc(100% - 1rem);
          margin-bottom: 1rem;
        }
      }

      td:not(.edit) {
        margin-top: 1rem;
        vertical-align: middle;

        p {
          margin-top: 1rem;
          margin-bottom: 1rem;
          padding-right: 0.5rem;
        }
      }
    }

    tr.description {
      td.label {
        text-align: right;

        p {
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          line-height: 3rem;
          margin-left: 0.5rem;
          margin-right: 1rem;
          vertical-align: middle;
          white-space: nowrap;
        }
      }
    }

    tr.slot {
      border-top: 0.0625rem solid #d8d8d8;
      position: relative;
      vertical-align: middle;

      td.link {
        white-space: nowrap;

        a {
          display: block;
          height: 3rem;
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          line-height: 3rem;
          margin-right: 1rem;
          text-decoration: none;
          vertical-align: middle;

          img {
            height: 1.25rem;
            margin-right: 0.5rem;
            vertical-align: middle;
          }

          &.collaborator {
            display: block;
            height: 2rem;
            font-size: 0.8rem;
            line-height: 2rem;
            margin-top: 0.25rem;
            margin-left: 0.25rem;

            img {
              height: 1rem;
            }
          }
        }
      }

      td:not(.edit) {
        padding-top: 0.25rem;
        vertical-align: top;
      }

      td.description {
        padding-right: 1rem;
        vertical-align: middle;

        &.has-bio p:last-child {
          padding-bottom: 1rem;
        }

        &.has-bio p.next-slot {
          display: block;
        }

        button.button {
          display: block;

          & + button.button {
            margin-top: 0.5rem;
          }
        }
      }

      &:target{
        background-color: #f8f888;

        td {
          background-color: #f8f888;
        }
      }

      &:not(:last-child) {
        td {
          padding-bottom: 0.25rem;
        }
      }

      img.avatar {
        border-radius: 15%;
        height: 3rem;
        margin-right: 1rem;
        vertical-align: middle;

        &.collaborator {
          display: block;
          height: 2rem;
          margin-left: 1rem;
          margin-top: 0.25rem;
        }
      }

      p {
        display: inline-block;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }

      &[data-service=twitch] {
        a {
          color: #9146ff;
        }
      }
    }
  }
}

// Always show the current slot's bio (times three)
#event-next {
  table.slots {
    tr.day:first-child + tr.slot + tr.next + tr.bio,
    tr.day:first-child + tr.slot + tr.next + tr.bio + tr.next + tr.bio,
    tr.day:first-child + tr.slot + tr.next + tr.bio + tr.next + tr.bio + tr.next + tr.bio {
      td {
        display: table-cell;
      }

      td.check {
        button {
          display: none;
        }
      }
    }
  }
}

#presentation {
  #twitch-embed {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }

  ul.streams {
    background: #555;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;

    li.stream {
      border-right: 0.0625rem solid #777;
      display: inline-block;
      flex: 1 1 100%;
      max-height: 2.5rem;
      overflow: hidden;

      button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 0.25rem 0;
        text-align: left;
        width: 100%;

        .live-sticker {
          display: inline-block;
          flex: 0 0 auto;
          height: 2rem;
          position: relative;
          width: 1rem;
          vertical-align: middle;

          &::after {
            background: #dd0000;
            border: 0.0625rem solid #cd9db1;
            border-radius: 50%;
            content: '';
            display: block;
            height: 0.5rem;
            left: 0.375rem;
            position: absolute;
            top: 0.75rem;
            width: 0.5rem;
          }

          &[data-status='offline'] {
            opacity: 0.25;

            &::after {
              background: #333;
              border-color: #ccc;
            }

            ~ img.avatar {
              filter: grayscale(1.0);
              opacity: 0.5;
            }

            ~ .info span {
              color: #888;
            }
          }
        }

        img.avatar {
          border: 0.0625rem solid #ccc;
          border-radius: 0.375rem;
          height: 1.625rem;
          flex: 0 0 auto;
          padding: 0.125rem;
          margin-left: 0.25rem;
          vertical-align: middle;
          width: 1.625rem;
        }

        .info {
          display: inline-block;
          flex: 1 1 auto;
          overflow: hidden;
          vertical-align: middle;

          span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          span.handle {
            color: #ccc;
            display: block;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            padding: 0 0.25rem;
            padding-right: 0.5rem;
            vertical-align: middle;
          }

          span.streaming {
            color: #ccc;
            display: block;
            font-family: 'Lato', sans-serif;
            font-size: 0.75rem;
            padding: 0 0.25rem;
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}

#countdown {
  background: rgb(136,79,136);
  background: linear-gradient(146deg, rgba(136,79,136,1) 0%, rgba(165,84,166,1) 30%, rgba(144,35,156,1) 100%);
  color: white;
  height: 483px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30rem;
  line-height: 483px;
  max-width: 100%;
  text-align: center;
  width: 100%;
  vertical-align: middle;

  &.has-minutes {
    font-size: 20rem;
  }

  &.has-hours {
    font-size: 15rem;
  }

  &.has-days {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 950px) {
  #countdown {
    font-size: 12rem;

    &.has-minutes {
      font-size: 10rem;
    }

    &.has-hours {
      font-size: 8rem;
    }

    &.has-days {
      font-size: 5rem;
    }
  }

  .event-request,
  #event-next,
  #event-schedule {
    table.slots {
      display: block;

      thead,
      tbody {
        display: block;
      }

      tr {
        display: block;
        width: 100%;

        &.bio.open {
          td.check ~ td,
          > td {
            &.label {
              display: inline;
            }
          }
        }

        td {
          width: auto;
          display: inline-block;

          &.label {
            display: inline;

            img {
              display: inline;
            }
          }

          &.description {
            width: 100%;

            p {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  a.top-image,
  img.event {
    height: 20rem;

    &:not(.static) {
      + .panel {
        margin-top: 21rem;

        &[aria-hidden='true'] + .panel {
          margin-top: 21rem;
        }
      }
    }

    &.page {
      height: 10rem;

      &:not(.static) {
        + .panel {
          margin-top: 11rem;

          &[aria-hidden='true'] + .panel {
            margin-top: 11rem;
          }
        }
      }
    }
  }

  #countdown {
    font-size: 8rem;

    &.has-minutes {
      font-size: 6rem;
    }

    &.has-hours {
      font-size: 4rem;
    }

    &.has-days {
      font-size: 3rem;
    }
  }
}

.panel.owner {
  p.owner {
    img {
      height: 2rem;
      width: 2rem;
      vertical-align: middle;
      margin-right: 1rem;
    }

    span {
      vertical-align: middle;
      line-height: 2rem;
    }
  }
}

table.co-owner-list {
  tr {
    td {
      vertical-align: middle;

      &.handle {
        width: 100%;
      }

      img {
        height: 2rem;
        width: 2rem;
      }

      padding-right: 1rem;
    }
  }
}
