body > nav {
  background-image: linear-gradient(to top, #ececec, #fff);
  box-shadow: 0 0 0.25rem 0.125rem black;
  flex: 0 0 auto;
  height: 3rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 99999999;

  ul.navigation {
    li {
      border-right: 0.0625rem solid gray;
      display: inline-block;
      height: 3rem;
      line-height: 3rem;
      vertical-align: middle;

      &.separator {
        width: 0.5rem;
      }

      a {
        color: #93099b;
        display: inline-block;
        height: 3rem;
        font-family: 'Lato', sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;

        &:hover {
          background: #ffadfc;
          color: #93099b;
        }
      }
    }
  }

  ul.actor-navigation {
    position: absolute;
    right: 0;
    top: 0;

    li {
      border-left: 0.0625rem solid gray;
      border-right: none;

      img.avatar {
        height: 2rem;
        margin-right: 0.5rem;
        vertical-align: middle;
        width: 2rem;
      }

      span.name {
        line-height: 3rem;
        vertical-align: middle;
      }
    }
  }
}
