table.planner {
  height: 100%;
  margin-top: 0.75rem;
  overflow: hidden;
  width: 100%;

  th {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    line-height: 1rem;
    width: 1rem;
  }

  tr.day {
    td:first-child {
      font-family: 'Lato', sans-serif;
      height: 3rem;
      line-height: 3rem;
      padding-right: 0.25rem;
      text-align: right;
      vertical-align: middle;
      white-space: nowrap;

      span {
        font-weight: bold;
      }
    }

    td:not(:first-child) {
      background: #eeeeee;
      border-top: 0.01625rem solid #ddd;
      height: 3rem;
      position: relative;

      &:last-child {
        border-right: 0.01625rem solid #ddd;
      }

      &:nth-child(2n) {
        border-left: 0.01625rem solid #ddd;
      }

      &.requested-1 {
        background: #66ee66;
      }

      &.requested-2 {
        background: #55ee55;
      }

      &.requested-3 {
        background: #44ee44;
      }

      &.requested-4 {
        background: #33ee33;
      }

      &.requested-5 {
        background: #22ee22;
      }

      &.requested-6 {
        background: #11ee11;
      }

      &.requested-7 {
        background: #11dd11;
      }

      &.requested-8 {
        background: #11cc11;
      }

      &.requested-9 {
        background: #11bb11;
      }

      &.requested-10 {
        background: #11aa11;
      }

      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20),
      &:nth-child(21),
      &:nth-child(22),
      &:nth-child(23),
      &:nth-child(24),
      &:nth-child(25) {
        ul.requests {
          left: auto;
          right: 0;
        }
      }

      .actor {
        box-sizing: border-box;
        display: none;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        height: 3rem;
        line-height: 3rem;
        padding-right: 0.5rem;
        position: absolute;
        white-space: nowrap;
        z-index: 999;

        img.service-icon {
          display: inline-block;
          height: 1rem;
          margin-left: 0.5rem;
          margin-right: 0.25rem;
          vertical-align: middle;
          width: 1rem;
        }

        a {
          box-sizing: border-box;
          display: block;
          height: 100%;
          width: 100%;
        }

        &:hover {
          width: auto !important;
          z-index: 99999;
        }
      }

      ul.requests {
        border-radius: 0.5rem;
        display: none;
        padding: 0.5rem;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: 999;

        li.request {
          white-space: nowrap;
        }
      }

      &:hover ul.requests {
        background: rgba(255.0, 255.0, 255.0, 0.75);
        display: block;
        z-index: 999999999999999999;
      }
    }

    &:last-child {
      td:not(:first-child) {
        border-bottom: 0.01625rem solid #ddd;
      }
    }
  }

  &[data-requests] {
    .actor {
      pointer-events: none;
    }
  }
}

// Fill in slots
input.show-filled:checked {
  & ~ table.planner {
    tr.day {
      td:not(:first-child) {
        &.filled-0 {
          border-left: 0.01625rem solid #ddd;

          &:not(:hover.requested) {
            background: #6666ee;
          }

          + .filled-0 {
            border-left: none;
          }

          .actor, .actor a {
            background: #6666ee;
            color: #ddddff;
            text-decoration: none;
          }
        }

        &.filled-1 {
          border-left: 0.01625rem solid #ddd;

          &:not(:hover.requested) {
            background: #52aeb7;
          }

          + .filled-1 {
            border-left: none;
          }

          .actor, .actor a {
            background: #52aeb7;
            color: #ddffff;
            text-decoration: none;
          }
        }

        &.filled-2 {
          border-left: 0.01625rem solid #ddd;

          &:not(:hover.requested) {
            background: #6ac36a;
          }

          + .filled-2 {
            border-left: none;
          }

          .actor, .actor a {
            background: #6ac36a;
            color: #ddffdd;
            text-decoration: none;
          }
        }

        &.filled-3 {
          border-left: 0.01625rem solid #ddd;

          &:not(:hover.requested) {
            background: #c7b146;
          }

          + .filled-3 {
            border-left: none;
          }

          .actor, .actor a {
            background: #c7b146;
            color: #ffffdd;
            text-decoration: none;
          }
        }

        &.filled-4 {
          border-left: 0.01625rem solid #ddd;

          &:not(:hover.requested) {
            background: #ee66ee;
          }

          + .filled-4 {
            border-left: none;
          }

          .actor, .actor a {
            background: #ee66ee;
            color: #ffddff;
            text-decoration: none;
          }
        }

        &.filled-5 {
          border-left: 0.01625rem solid #ddd;

          &:not(:hover.requested) {
            background: #ee6666;
          }

          + .filled-5 {
            border-left: none;
          }

          .actor, .actor a {
            background: #ee6666;
            color: #ffdddd;
            text-decoration: none;
          }
        }

        .actor {
          display: inline-block;
        }
      }
    }
  }
}
