/* Reset */
@import 'reset.scss';

/* Fonts */
@import 'fonts.scss';

/* Ensure the webpage takes up the full area */
html, body {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  *[hidden] {
    display: none !important;
  }
}

/* The main content block */
.content {
  background: url('/images/noise_black.png');
  box-sizing: border-box;
  flex: 0 1 100%;
  overflow: auto;
  padding: 1rem;
  text-align: center;

  .flash {
    background: #992266;
    color: white;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 0.01625rem solid #441133;
  }

  .panel {
    background: white;
    box-shadow: 0 0 0.25rem 0rem black;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 1000px;
    padding: 1rem;
    text-align: left;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Lato', sans-serif;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .markdown,
    p {
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      line-height: 1.25rem;

      & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
        margin-top: 0.75rem;
      }

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
      }
    }

    p:not(:last-child) {
      margin-bottom: 1rem;
    }

    ul {
      & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
        margin-top: 1rem;
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
    }

    h4 {
      font-size: 1.125rem;
      font-weight: bold;
    }

    h5, h6 {
      font-size: 1.125rem;
    }

    .markdown {
      ul {
        list-style: disc;
        padding-left: 1.5rem;

        li {
          font-weight: 300;
          font-family: 'Lato', sans-serif;
          line-height: 1.25rem;
        }

        & + ul,
        & + p {
          margin-top: 1rem;
        }
      }
    }
  }

  form {
    display: table;
    width: 100%;

    .form-item {
      display: table-row;
      width: 100%;

      > label, > input, > .form-item-options, button, textarea, & > *:first-child, & > *:last-child {
        box-sizing: border-box;
        display: table-cell;
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        max-width: 20rem;
        width: 100%;
      }

      .form-item-options {
        padding-bottom: 1rem;
      }

      input[type='checkbox'] {
        width: 1rem;
      }

      textarea {
        height: 4rem;
      }

      p:not(:last-child) {
        margin-bottom: 0.125rem;
      }

      label, & > *:first-child {
        font-weight: bold;
        padding-right: 1rem;
        padding-top: 0.175rem;
        text-align: right;
        vertical-align: top;
        white-space: nowrap;
        width: 1px;
      }

      .upload-item {
        img {
          display: block;
          max-width: 100%;
          width: 5rem;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}

/* Button */
@import 'button.scss';

/* Navigation */
@import 'nav.scss';

/* Events */
@import 'events.scss';

/* Benefits */
@import 'benefits.scss';

/* Calendar */
@import 'calendar.scss';

/* Planner Calendar */
@import 'planner.scss';
