- if !defined?(slots)
  - slots = nil

- slots ||= event.slots.order(start: :asc).preload(actor: :"#{event.service}_link")

/ Go through every month and generate the date chart for the calendar month
- month = nil
- months = 0

- month_slots = []
- last_slot = nil
- last_bio_slot = nil
- slot_count = slots.length
- slots.each_with_index do |slot, i|
  - slot_start = slot.start
  - slot_month = slot_start.to_time.utc.month

  / If this marks a new month, we will render the last one
  - if month.nil? && i != (slot_count - 1)
    - month = slot_month
  - elsif month != slot_month || i == (slot_count - 1)
    / Include the final slot, if this was triggered by running out of slots
    - if i == (slot_count - 1)
      - month_slots << slot

    h3.calendar-month
      = I18n.t('date.month_names')[month || slot_month]

    .calendar-month
      / Determine the first week of the month
      - slot_time = month_slots.first.start.to_time.utc
      - current_day = Time.utc(slot_time.year, slot_time.month, 1)
      - if months > 0
        / Fill in gap weeks
        p

      / Go through each slot for the month
      - last_weekday = -1
      - week_slots = []
      - weeks = 0
      - month_slots.each_with_index do |month_slot, j|
        - slot_start = month_slot.start
        - slot_time = slot_start.to_time.utc
        - slot_wday = slot_time.wday
        - if slot_wday < last_weekday || j == (month_slots.length - 1)
          - if j == (month_slots.length - 1)
            - week_slots << month_slot

          / Add an empty week
          - if months == 0 && weeks == 0
            - first_day = week_slots.first&.start&.to_time&.utc
            .calendar-week aria-hidden=:true hidden=true
              - 7.times do |x|
                - cur_date = (first_day - first_day.wday.days - 7.days) + x.days
                .calendar-day data-timestamp='#{cur_date.strftime('%Y-%m-%d')}'
                  .calendar-date
                    span.day
                      | #{cur_date.day}
                    span.wday
                      = I18n.t('date.day_names')[x]
                  ol.calendar-list
                    li.rest
            .calendar-slots aria-hidden=:true hidden=true
              table.slots
          .calendar-week
            / Fill in the beginning of the week until the first slot
            - cur_wday = 0
            - first_day = week_slots.first&.start&.to_time&.utc
            - (first_day&.wday || 0).times do |x|
              - cur_date = first_day - first_day.wday.days + x.days
              .calendar-day.empty data-timestamp='#{cur_date.strftime('%Y-%m-%d')}'
                .calendar-date
                  span.day
                    | #{cur_date.day}
                  span.wday
                    = I18n.t('date.day_names')[cur_date.wday]
                ol.calendar-list
                  li.rest
              - cur_wday += 1
            - day_slots = []
            - last_day = (first_day.day || 0) - 1
            - last_time = first_day
            - week_slots << nil
            - week_slots.each_with_index do |week_slot, k|
              - slot_day = 0
              - slot_time = 0
              - slot_day = 0
              - unless week_slot.nil?
                - slot_start = week_slot.start
                - slot_time = slot_start.to_time.utc
                - slot_day = slot_time.day
              - if (k != 0 && slot_day != last_day) || (k == week_slots.length - 1)
                .calendar-day data-timestamp='#{last_time.strftime('%Y-%m-%d')}'
                  .calendar-date
                    span.day
                      | #{last_time.day}
                    span.wday
                      = I18n.t('date.day_names')[last_time.wday]
                  - cur_wday += 1
                  ol.calendar-list
                    - day_slots.each do |day_slot|
                      - slot_start = day_slot.start
                      - if last_slot && event.raid_train?
                        - slot_start = [slot_start, last_slot.end].max
                      li.calendar-list-item data-slot-id=day_slot.id
                        - actor = day_slot.actor
                        img.avatar src=(actor.url_for_avatar || Actor.default_avatar_url)
                        time.start datetime=slot_start.to_time.utc.iso8601 class=(event.raid_train? ? 'raid-train-slot' : [])
                          = I18n.l slot_start.to_time.utc, format: '%H:%M'
                        - if !event.raid_train? && !day_slot.hide_end
                          time.end datetime=day_slot.end.to_time.utc.iso8601
                            = I18n.l day_slot.end.to_time.utc, format: '%H:%M'
                        span.name data-service-id=actor&.twitch_link&.service_id data-service-handle=actor&.twitch_link&.handle
                          = actor&.name
                      - last_slot = day_slot
                    li.rest
                - if slot_day != last_day && last_day > 0
                  / Fill in gap days, if any
                  - (slot_day - last_day - 1).times do |x|
                    - cur_date = last_time + x.days + 1.days
                    .calendar-day data-timestamp='#{cur_date.strftime('%Y-%m-%d')}'
                      .calendar-date
                        span.day
                          | #{cur_date.day}
                        span.wday
                          = I18n.t('date.day_names')[cur_date.wday]
                        - cur_wday += 1
                      ol.calendar-list
                        li.rest
                - day_slots = []
              - next if week_slot.nil?
              - day_slots << week_slot
              - last_day = slot_day
              - last_time = slot_time
            - (6 - (week_slots.second_to_last&.start&.to_time&.utc&.wday || 6)).times do |x|
              - cur_date = last_time + x.days + 1.days
              .calendar-day.empty data-timestamp='#{cur_date.strftime('%Y-%m-%d')}'
                .calendar-date
                  span.day
                    | #{cur_date.day}
                  span.wday
                    = I18n.t('date.day_names')[cur_date.wday]
                  - cur_wday += 1
                ol.calendar-list
                  li.rest
          .calendar-slots
            table.slots
              - week_slots.each_with_index do |week_slot, k|
                - next if week_slot.nil?
                - slot_start = week_slot.start
                - if last_bio_slot && event.raid_train?
                  - slot_start = [slot_start, last_bio_slot.end].max
                - last_bio_slot = week_slot
                == partial(:'events/slot', locals: {event:, slot: week_slot, slot_start:, render_id: false})
          - week_slots = []
          - weeks += 1
        - week_slots << month_slot
        - last_weekday = slot_wday

    - month = slot_month
    - months += 1
    - month_slots = []
  - month_slots << slot

script src='/js/calendar.js?#{cache_buster}'
