- if !defined?(requests)
  - requests = false

/ul.planner data-starttime=event.start.utc.to_date.iso8601 data-endtime=event.end.utc.to_date.iso8601
  / Provide a box for every 30 minute window
  - event.each_interval(30.minutes) do |time|
    li.timeslot data-datetime=time.utc.to_date.iso8601
      .region
        | #{time.strftime('%H:%M')}

  / Provide a box for every slot within 30 minute windows

  / Provide a box for every request within 30 minute windows
  - if requests

input.show-filled type=:checkbox checked=true
| Show filled in slots

- 24.times do |tz_offset|
  - tz_offset -= 12
  - event_start = event.start.utc
  - event_end = event.end.utc
  table.planner data-starttime=event_start.to_date.iso8601 data-endtime=event_end.to_date.iso8601 data-requests=requests data-tz-offset=tz_offset hidden=(tz_offset != 0) aria-hidden=(tz_offset != 0 ? :true : :false)
    thead
      tr
        th
          = I18n.t('planner.date')
        - 12.times do |i|
          - hour = (i == 0 ? 12 : i)
          th colspan=2
            | #{hour}:00
    tbody
      / Start at the beginning of the day
      - starting_day = (event_start - tz_offset.hours).beginning_of_day
      - final_day = (event_end - tz_offset.hours).beginning_of_day
      - last_actor = nil
      - actor_count = 0
      - new_slot = false
      - (starting_day.to_i..final_day.to_i).step(1.day) do |i|
        - day = Time.at(i).to_datetime.utc
        - mid_day = day + 12.hours
        - next_day = day + 1.day
        - [[day, mid_day], [mid_day, next_day]].each_with_index do |tuple, k|
          - start_time, end_time = *tuple
          tr.day
            td
              - if k == 0
                span
                  | #{start_time.strftime('%m/%d')}
                = " AM"
              - else
                | PM
            - index = 0
            - (start_time.to_i...end_time.to_i).step(30.minutes) do |j|
              - index += 1
              - time = Time.at(j).to_datetime.utc
              - slots = event.happening_at(time - tz_offset.hours)
              - classes = []
              - if slots.any?
                - if slots.first.actor != last_actor
                  - last_actor = slots.first.actor
                  - new_slot = true
                  - skip_slot = false
                  - actor_count = (actor_count + 1) % 6
                  / Put on next line of /just/ before the edge
                  - if index == 24
                    - next_actor = event.happening_at(time + tz_offset.hours + 30.minutes).first&.actor
                    - if next_actor == last_actor
                      - skip_slot = true
                - classes << "filled-#{actor_count}"
              - asks = []
              - if requests
                - asks = event.requested_at(time - tz_offset.hours)
                - if asks.any?
                  - classes << "requested-#{[asks.count, 10].min}"
                  - classes << "requested"
              td class=classes
                - if asks.any?
                  ul.requests
                    - asks.each do |request|
                      li.request
                        | #{request.actor.handle} #{request.start.utc.strftime('%H:%M')} - #{request.end.utc.strftime('%H:%M')}
                - if slots.any? && new_slot
                  - if skip_slot
                    - skip_slot = false
                  - else
                    - new_slot = false
                    .actor
                      - if !requests
                        a href='#slot-#{slots.first.id}'
                          img.service-icon src="/images/services/#{event.service}.svg"
                          | #{last_actor.name}
                      - else
                        img.service-icon src="/images/services/#{event.service}.svg"
                        | #{last_actor.name}

script src='/js/planner.js?#{cache_buster}'
