- if !defined?(show_last)
  - show_last = true

- if !defined?(show_back_to_top)
  - show_back_to_top = true

- if !defined?(slots)
  - slots = nil

- if !defined?(bios)
  - bios = false

table.slots
  / Create template rows for every possible day
  - slots ||= event.slots.order(start: :asc).preload(actor: :"#{event.service}_link")

  - if slots.length == 0
    p
      = I18n.t('events.nothing')

  / Get the set of days this event goes across
  - days = []
  - slots.each do |slot|
    - first_day = slot.start.utc.beginning_of_day - 1.day
    - 3.times do
      - days << first_day unless days.include?(first_day)
      - first_day += 1.day

  - days.each do |day|
    template.day datetime=day.utc.to_date.iso8601
      tr.day
        td colspan=99
          h3
            time datetime=day.utc.to_date.iso8601
              = I18n.l day.to_date, format: :long

  - current_day = DateTime.now.utc.beginning_of_day - 100.years
  - last_slot = nil
  - participating = []
  - slots.each do |slot|
    / Any slot less than 2 minutes long is considered a 'participating slot'
    / These slots are not in the schedule and are tacked onto the end. The actors
    / do appear in the crediting 'participants' sections, however.
    - if slot.is_a?(Slot) && (slot.start > slot.end - 2.minutes)
      - participating << slot
      - next
    - if slot.is_a?(Slot) && last_slot && (slot.start + 5.minutes) > last_slot.end
      / intermission (if it is a train, and there is a gap in the schedule)
      - if event.raid_train? && (event.show_intermission? || event.owned_by?(current_actor))
        tr.intermission
          td.time width="1"
            time datetime=last_slot.end.to_time.utc.iso8601
              = I18n.l last_slot.end.to_time.utc, format: '%H:%M'
          td colspan=3
            p
              = I18n.t('events.intermission')
            - unless event.show_intermission?
              p.notice
                = I18n.t('events.intermission-shown-to-owner')
          - if event.owned_by?(current_actor)
            td.edit
              ul.edit-options
                li.edit-option
                  a href="/events/#{event.id}/slots/new?after=#{last_slot.id}&referer=#{request.path}"
                    = I18n.t('slots.new')
    - slot_start = slot.start
    - if last_slot && event.raid_train?
      - slot_start = [slot_start, last_slot.end].max
    == partial(:'events/slot', locals: {event:, slot:, slot_start:,})
    - last_slot = slot

  / Craft the 'end of event' slot
  - last_slot_end = event.start
  - if last_slot
    - last_slot_end = last_slot.end

  / These are folks without a set time
  - if participating.any?
    tr.day
      td colspan=99
        h3
          = I18n.t 'schedule.participating'
  - participating.each do |slot|
    == partial(:'events/slot', locals: {event:, slot:, slot_start: nil,})

  / If there is still unused time in the event
  - if show_last && last_slot_end < event.end
    tr.intermission
      td.time width="1"
        time datetime=last_slot_end.to_time.utc.iso8601
          = I18n.l last_slot_end.to_time.utc, format: '%H:%M'
      td colspan=3
        p
          = I18n.t('events.intermission-end')
      - if event.owned_by?(current_actor)
        td.edit
          ul.edit-options
            li.edit-option
              - if last_slot
                a href="/events/#{event.id}/slots/new?after=#{last_slot.id}&referer=#{request.path}"
                  = I18n.t('slots.new')
              - else
                a href="/events/#{event.id}/slots/new?referer=#{request.path}"
                  = I18n.t('slots.new')

- if show_back_to_top
  p
    a href='#event-schedule'
      | Back to top
