- if !defined?(render_id)
  - render_id = true

- actor = slot.actor
- collaborators = []
- if slot.is_a?(Slot)
  - collaborators = slot.collaborators.joins(:actor).all.sort{|a, b| a.actor.handle.downcase <=> b.actor.handle.downcase}
- has_bio = false
- show_collaborators_bios = true
- if slot.is_a?(Slot)
  - has_bio = !slot.bio.blank? || !slot.actor&.description.blank?
tr.slot class=(has_bio ? 'has-bio' : []) data-service=event.service id=(render_id ? "slot-#{slot&.id}" : nil) data-slot-id=slot&.id
  - if slot.is_a?(Slot)
    td.time width="1"
      - if !slot_start.nil?
        time.start datetime=slot_start.to_time.utc.iso8601 class=(event.raid_train? ? 'raid-train-slot' : [])
          = I18n.l slot_start.to_time.utc, format: '%H:%M'
        - if !event.raid_train? && !slot.hide_end
          p
            = I18n.t 'schedule.to'
          time.end datetime=slot.end.to_time.utc.iso8601
            = I18n.l slot.end.to_time.utc, format: :long
  - elsif slot.is_a?(Request)
    td.time width="1"
      time.start datetime=slot.start.to_time.utc.iso8601
        = I18n.l slot.start.to_time.utc, format: :long
    td.time width="1"
      time.end datetime=slot.end.to_time.utc.iso8601 class=(slot.hide_end ? 'unknown-end' : [])
        = I18n.l slot.end.to_time.utc, format: :long
  td.image width="1"
    img.avatar src=(actor&.url_for_avatar || Actor.default_avatar_url) role=:presentation
    - if slot.is_a?(Slot)
      - collaborators.each do |collaborator|
        img.collaborator.avatar src=(collaborator.actor.url_for_avatar || Actor.default_avatar_url) role=:presentation
  td.link width="1"
    a href=(actor&.twitch_link&.url || '#') target=:_blank
      img.service-icon src="/images/services/#{event.service}.svg"
      span.name data-service-id=actor&.twitch_link&.service_id data-service-handle=actor&.twitch_link&.handle
        = actor&.name
    - if slot.is_a?(Slot)
      - collaborators.each do |collaborator|
        a.collaborator href=(collaborator.actor&.twitch_link&.url || '#') target=:_blank
          img.service-icon src="/images/services/#{event.service}.svg"
          span.collaborator.name=collaborator.actor.name
  td.description class=(has_bio ? 'has-bio' : [])
    - description = nil
    - if slot.is_a?(Slot)
      - description = slot.description
    - elsif slot.is_a?(Request)
      - description = slot.note

    - if !description.blank?
      p
        = description
    - elsif slot.is_a?(Slot)
      p
        = I18n.t("slots.we-arent-sure-#{slot.id % 3}")

    - if slot.is_a?(Slot) && slot.actor.slots.where(event: event).count > 1
      - next_slot = slot.actor.slots.where(event: event).where('start > ?', slot.start).first
      - if next_slot
        p.next-slot
          a href="#slot-#{next_slot.id}"
            - if event.raid_train?
              = I18n.t('schedule.next-slot-train')
            - else
              = I18n.t('schedule.next-slot-general')

    - next_collab_slot = Collaborator.where(slot: event.slots, actor: slot.actor).joins(:slot).where('start > ?', slot.start).first
    - if next_collab_slot
      p.next-slot
        a href="#slot-#{next_collab_slot.slot.id}"
          - if event.raid_train?
            = I18n.t('schedule.next-collab-slot-train')
          - else
            = I18n.t('schedule.next-collab-slot-general')
  - if slot.is_a?(Slot) && event.owned_by?(current_actor)
    td.edit
      ul.edit-options
        li.edit-option
          a href="/events/#{event.id}/slots/#{slot.id}/edit"
            = I18n.t('edit')
        li.edit-option
          form action="/events/#{event.id}/slots/#{slot.id}" method=:post onsubmit="return confirm('#{I18n.t('confirm.slot-deletion')}')"
            input type=:hidden name=:_method value=:delete
            button.button type=:submit
              = I18n.t('delete')
        li.edit-option
          a href="/events/#{event.id}/slots/#{slot.id}/collaborators/new?referer=#{request.path}%23slot-#{slot.id}"
            = I18n.t('slots.add-collaborator')
  - elsif slot.is_a?(Slot) && slot.owned_by?(current_actor)
    td.edit
      ul.edit-options
        li.edit-option
          a href="/events/#{event.id}/slots/#{slot.id}/edit"
            = I18n.t('edit')
        li.edit-option
          a href="/events/#{event.id}/slots/#{slot.id}/collaborators/new?referer=#{request.path}%23slot-#{slot.id}"
            = I18n.t('slots.add-collaborator')
  - if slot.is_a?(Request)
    - if event.owned_by?(current_actor)
      td.edit
        ul.edit-options
          li.edit-option
            a href="/events/#{event.id}/slots/new?request=#{slot.id}&referer=#{request.path}"
              = I18n.t('requests.create-slot')
          li.edit-option
            form action="/events/#{event.id}/requests/#{slot.id}" method=:post onsubmit="return confirm('#{I18n.t('confirm.request-deletion')}')"
              input type=:hidden name=:_method value=:delete
              button.button type=:submit
                = I18n.t('delete')
    - else
      td.edit
        ul.edit-options
          li.edit-option
            form action="/events/#{event.id}/requests/#{slot.id}" method=:post onsubmit="return confirm('#{I18n.t('confirm.request-deletion')}')"
              input type=:hidden name=:_method value=:delete
              button.button type=:submit
                = I18n.t('delete')
- if slot.is_a?(Slot) && has_bio
  - if collaborators.count > 5
    - show_collaborators_bios = false
  tr.bio class=((collaborators.none? || !show_collaborators_bios) ? 'last-bio' : [])
    td.check
      button.button.open-bio
        = I18n.t('schedule.about-actor', actor: slot.actor.name)
    td.label colspan=2
      - if slot.image.url
        img src=slot.image.url
    td colspan=99
      - if slot.bio.blank?
        .markdown
          == render_markdown(slot.actor&.description || "")
      - else
        .markdown
          == render_markdown(slot.bio || "")
- if slot.is_a?(Slot) && show_collaborators_bios
  - collaborators.each_with_index do |collaborator, i|
    tr.bio class=(i == (collaborators.length - 1) ? 'last-bio' : [])
      td.check
        button.button.open-bio
          = I18n.t('schedule.about-actor', actor: collaborator.actor.name)
      td.label colspan=2
        - if collaborator.image.url
          img src=collaborator.image.url
      td.description
        - if collaborator.bio.blank?
          .markdown
            == render_markdown(collaborator.actor&.description || "")
        - else
          .markdown
            == render_markdown(collaborator.bio || "")
      - if event.owned_by?(current_actor)
        td.edit
          ul.edit-options
            li.edit-option
              a href="/events/#{event.id}/slots/#{slot.id}/collaborators/#{collaborator.id}/edit"
                = I18n.t('edit')
            li.edit-option
              form action="/events/#{event.id}/slots/#{slot.id}/collaborators/#{collaborator.id}" method=:post onsubmit="return confirm('#{I18n.t('confirm.collaborator-deletion')}')"
                input type=:hidden name=:_method value=:delete
                button.button type=:submit
                  = I18n.t('delete')
- if slot.is_a?(Request) && !slot.description.blank?
  tr.description
    td.label
      p
        | Description
    td colspan=99
      .markdown
        == render_markdown(slot.description || "")
