- if !defined?(handle)
  - handle = ''

- if !defined?(co_owner_handle)
  - co_owner_handle = ''

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start.utc.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end.utc.iso8601
      = I18n.l event.end, format: :long

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

.owner.panel
  h3
    | Owned By

  p.owner
    img src=event.owner.avatar_url
    span
      = event.owner.handle

.panel
  h3
    = I18n.t('events.transfer-ownership')

  - unless handle.blank?
    == partial(:flash)

  form action="/events/#{event.id}/owner" method=:post enctype="multipart/form-data"
    input type=:hidden name=:_method value=:put

    .form-item
      label for=:name
        = I18n.t('fields.handle')
      input name=:handle value=handle

    .form-submit.form-item
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('events.transfer-ownership')

.panel
  h3
    = I18n.t('events.manage-co-owners')

  - unless co_owner_handle.blank?
    == partial(:flash)

  form action="/events/#{event.id}/co-owners" method=:post
    .form-item
      label for=:name
        = I18n.t('fields.handle')
      input name=:handle value=co_owner_handle

    .form-submit.form-item
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('events.add-co-owner')

  table.co-owner-list
    - event.co_owners.each do |co_owner|
      - actor = co_owner.actor
      tr.co-owner
        td
          img src=actor.avatar_url
        td.handle
          p
            = actor.handle
        td
          form action="/events/#{event.id}/co-owners/#{co_owner.id}" method=:post onsubmit="return confirm('#{I18n.t('confirm.co-owner-deletion')}')"
            input type=:hidden name=:_method value=:delete
            button.button type=:submit
              = I18n.t('delete')

script src='/js/events.js?#{cache_buster}'
