- if event.image.url
  a.top-image.temporary.static href='#presentation'
    img.event src=event.url_for_image role=:presentation

- if session[:flash]
  .panel
    == partial(:flash)

#event-name.panel
  h1
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start.utc.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end.utc.iso8601
      = I18n.l event.end, format: :long
  p
    a href='#event-about'
      = I18n.t('events.learn-more-about')
  p
    /a href='#event-planner'
      = I18n.t('events.view-planner')
    /= " | "
    a href='#event-schedule'
      = I18n.t('events.view-schedule')

#event-calendar.panel
  h2
    = I18n.t('events.calendar')

  p.gmt-time
    = I18n.t('events.in-gmt-time')
  p.local-time hidden=true aria-hidden=:true
    = I18n.t('events.in-your-local-time')

  == partial(:"events/calendar", locals: {event:, bios: true})

script src='/js/events.js?#{cache_buster}'
