- if event.image.url
  a.top-image.temporary.static
    img.event src=event.url_for_image role=:presentation

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start.utc.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end.utc.iso8601
      = I18n.l event.end, format: :long

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

.panel
  h3
    = I18n.t('information')

  == partial(:flash)

  form action="/events/#{event.id}" method=:post enctype="multipart/form-data"
    input type=:hidden name=:_method value=:put
    - if params[:referer]
      input type=:hidden name=:referer value=params[:referer]

    / Timezone offset
    input type=:hidden name=:offset value="0"

    .form-item
      p
      p.timezone-label hidden=true aria-hidden=:true
        | Times are in your local timezone
      p.timezone-label
        | Times are in UTC

    .form-item
      label for=:name
        = I18n.t('fields.name')
      input name=:name value=event.name

    .form-item
      label for=:start
        = I18n.t('fields.start')
      input name=:start value=event.start&.iso8601&.gsub('Z', '') type=:"datetime-local"

    .form-item
      label for=:end
        = I18n.t('fields.end')
      input name=:end value=event.end&.iso8601&.gsub('Z', '') type=:"datetime-local"

    .form-item
      label for=:image
        = I18n.t('fields.image')
      .upload-item
        - if event.image.url
          img src=event.image.url
        input name=:image type=:file

    .form-item
      label for=:background
        = I18n.t('fields.background-image')
      .upload-item
        - if event.background.url
          img src=event.background.url
        input name=:background type=:file

    .form-item
      label for=:description
        = I18n.t('fields.description')
      textarea name=:description placeholder=I18n.t('placeholders.event-description')
        = event.description

    .form-item
      label for=:raid_message
        = I18n.t('fields.raid-message')
      textarea name=:raid_message placeholder=I18n.t('placeholders.event-raid-message')
        = event.raid_message

    .form-item
      label for=:hidden
        = I18n.t('fields.hidden')
      input type=:hidden name=:hidden value=:off
      input name=:hidden type=:checkbox checked=event.hidden

    .form-item
      label for=:open
        = I18n.t('fields.open')
      input type=:hidden name=:open value=:off
      input name=:open type=:checkbox checked=event.open

    .form-item
      label for=:requests_visible
        = I18n.t('fields.visible')
      input type=:hidden name=:requests_visible value=:off
      input name=:requests_visible type=:checkbox checked=event.requests_visible

    .form-item
      label for=:allow_participants_to_edit_time
        = I18n.t('fields.allow-participants-to-edit-time')
      input type=:hidden name=:allow_participants_to_edit_time value=:off
      input name=:allow_participants_to_edit_time type=:checkbox checked=event.allow_participants_to_edit_time

    .form-item
      label for=:display_calendar
        = I18n.t('fields.display-calendar')
      input type=:hidden name=:display_calendar value=:off
      input name=:display_calendar type=:checkbox checked=event.display_calendar

    .form-item
      label for=:show_intermission
        = I18n.t('fields.show-intermission')
      input type=:hidden name=:show_intermission value=:off
      input name=:show_intermission type=:checkbox checked=event.show_intermission

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('save')

.panel
  p
    | Look at the pending request sheet
  p
    a href="/events/#{event.id}/requests"
      | Requests

.panel
  p
    | Look at the schedule slots.
  p
    a href="/events/#{event.id}/slots"
      | Slots

script src='/js/events.js?#{cache_buster}'
script src='/js/edit-datetime.js?#{cache_buster}'
