- if current_actor
  - yours = current_actor.all_events
  - if yours.any?
    .panel
      h1
        = I18n.t('events.yours')

    - yours.each do |event|
      .panel
        p
          a href="/events/#{event.id}"
            = event.name

  - participating = current_actor.events_participating_in
  - if participating.any?
    .panel
      h1
        = I18n.t('events.participating')

    - participating.each do |event|
      .panel
        p
          a href="/events/#{event.id}"
            = event.name

.panel
  h1
    = I18n.t('events.current-events')

- Event.all.where(hidden: false, end: DateTime.now()..).order(start: :asc).limit(10).each do |event|
  .panel.event
    - if event.image.url
      img src=event.image.url
    .description
      p
        a href="/events/#{event.id}"
          = event.name
      == render_markdown(event.description || '')
