/ This page allows somebody to add a new event.
#event-name.panel
  h2
    = I18n.t('events.new')

.panel
  h3
    = I18n.t('information')

  == partial(:flash)

  form action="/events" method=:post enctype="multipart/form-data"
    / Timezone offset
    input type=:hidden name=:offset value="0"

    .form-item
      p
      p.timezone-label hidden=true aria-hidden=:true
        | Times are in your local timezone
      p.timezone-label
        | Times are in UTC

    .form-item
      label for=:name
        = I18n.t('fields.name')
      input name=:name value=event.name

    .form-item
      label for=:start
        = I18n.t('fields.start')
      input name=:start value=event.start&.iso8601&.gsub('Z', '') type=:"datetime-local"

    .form-item
      label for=:end
        = I18n.t('fields.end')
      input name=:end value=event.end&.iso8601&.gsub('Z', '') type=:"datetime-local"

    .form-item
      label for=:image
        = I18n.t('fields.image')
      .upload-item
        - if event.image.url
          img src=event.image.url
        input name=:image type=:file

    .form-item
      label for=:background
        = I18n.t('fields.background-image')
      .upload-item
        - if event.background.url
          img src=event.background.url
        input name=:background type=:file

    .form-item
      label for=:description
        = I18n.t('fields.description')
      textarea name=:description placeholder=I18n.t('placeholders.event-description')
        = event.description

    .form-item
      label for=:raid_message
        = I18n.t('fields.raid-message')
      textarea name=:raid_message placeholder=I18n.t('placeholders.event-raid-message')
        = event.raid_message

    .form-item
      p role=:presentation
      .description
        p
          | A Raid Train assumes the slots are consecutive and will display a schedule that assumes the last slot ends when the next begins.
        p
          | A General event makes no such assumptions.

    .form-item
      label for=:event_type
        = I18n.t('fields.event-type')
      .form-item-options
        label
          input name=:event_type type=:radio checked=(event.event_type == 0) value="0"
          | Raid Train
        label
          input name=:event_type type=:radio checked=(event.event_type == 1) value="1"
          | General

    .form-item
      label for=:hidden
        = I18n.t('fields.hidden')
      input type=:hidden name=:hidden value=:off
      input name=:hidden type=:checkbox checked=event.hidden

    .form-item
      label for=:open
        = I18n.t('fields.open')
      input type=:hidden name=:open value=:off
      input name=:open type=:checkbox checked=event.open

    .form-item
      label for=:requests_visible
        = I18n.t('fields.visible')
      input type=:hidden name=:requests_visible value=:off
      input name=:requests_visible type=:checkbox checked=event.requests_visible

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('create')

script src='/js/edit-datetime.js?#{cache_buster}'
