/ Either way, show the navigation banner
nav.event-navigation
  span
    a href='#event-about'
      | About
  span
    - if event.display_calendar
      a href='#event-calendar'
        | Calendar
    - else
      a href='#event-schedule'
        | Schedule

- if event.image.url
  a.top-image.static.temporary href='#presentation'
    img.event src=event.url_for_image role=:presentation alt=event.name

- if session[:flash]
  .panel
    == partial(:flash)

.panel#presentation hidden=true aria-hidden=:true
  #twitch-embed
  #countdown hidden=true aria-hidden=:true
  ul.streams
  template.stream
    li.stream data-service-id="8080" data-service-handle="fenicestarlight"
      button
        .live-sticker data-status=:offline
        img.avatar
        .info
          span.handle
            | fenicestarlight
          span.streaming
            | Just Chatting
  - unless event.raid_message.blank?
    p.copy-raid-message hidden=true aria-hidden=:true
      a.copy-raid-message href='#'
        = I18n.t('events.copy-raid-message')
      span.message hidden=true aria-hidden=:true
        = event.raid_message
      span.copied hidden=true aria-hidden=:true
        = I18n.t('copied')

#event-name.panel
  h1
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start&.utc.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end&.utc.iso8601
      = I18n.l event.end, format: :long
  p
    a href='#event-about'
      = I18n.t('events.learn-more-about')
  p
    /a href='#event-planner'
      = I18n.t('events.view-planner')
    /= " | "
    a href='#event-schedule'
      = I18n.t('events.view-schedule')

- event.benefits.each do |benefit|
  == partial(:'events/benefits/show', locals: { event:, benefit: })

#event-next.panel hidden=true aria-hidden=:true data-raidtrain=event.raid_train?
  h2
    = I18n.t('events.current')

  template.next
    tr.next
      td colspan=99
        - if event.raid_train?
          p
            = I18n.t('events.up-next')
        - else
          p
            | Also

  table.slots

  p
    a href='#event-schedule'
      = I18n.t('events.view-schedule')

- if event.description || event.owned_by?(current_actor)
  #event-about.panel
    h2
      = I18n.t('events.about')

    .markdown
      == render_markdown(event.description || "")

    - if event.pages.where.not(position: 0).any?
      p.pages
        - last_position = 0
        - event.pages.where.not(position: 0).order(position: :asc).each do |page|
          - classes = []
          - if page.page_type == 'important'
            - classes << 'important'
          - if (last_position / 100) < (page.position / 100)
            br
          - if page.content_type == 'link'
            a href=page.content target=:_blank class=classes
              = page.name
          - else
            a href="/events/#{event.id}/pages/#{page.id}" target=:_blank class=classes
              = page.name
          - last_position = page.position

    h3
      = I18n.t('events.participants')

    ul.participants class=(event.participants.length > 30 ? 'smaller' : [])
      - if event.participants.none?
        p
          = I18n.t('events.nothing')

      - actors_seen = []
      - actors = []
      - event.slots.order(start: :asc).each do |slot|
        - actor = slot.actor
        - unless actors_seen.include?(actor.id)
          - actors_seen << actor.id
          - actors << [slot, actor]
      - event.slots.order(start: :asc).each do |slot|
        - slot.collaborators.each do |collaborator|
          - actor = collaborator.actor
          - unless actors_seen.include?(actor.id)
            - actors_seen << actor.id
            - actors << [slot, actor]
      - actors.sort{|a, b| a[1].name.downcase <=> b[1].name.downcase}.each do |tuple|
        - slot, actor = tuple
        / We want spaces before each so the content is justified and looks nice
        li.participant<
          a href="#slot-#{slot.id}"
            img.avatar src=actor.url_for_avatar role=:presentation
            img.service-icon src="/images/services/#{event.service}.svg"
            span.name=actor.name

/#event-planner.panel
  h2
    = I18n.t('events.planner')

  == partial(:"events/planner", locals: {event: event, requests: false})

- if event.display_calendar
  #event-calendar.panel
    h2
      = I18n.t('events.calendar')

    p.gmt-time
      = I18n.t('events.in-gmt-time')
    p.local-time hidden=true aria-hidden=:true
      = I18n.t('events.in-your-local-time')

    == partial(:"events/calendar", locals: {event:, bios: true})

#event-schedule.panel
  h2
    = I18n.t('events.schedule')

  p.gmt-time
    = I18n.t('events.in-gmt-time')
  p.local-time hidden=true aria-hidden=:true
    = I18n.t('events.in-your-local-time')

  == partial(:"events/schedule", locals: {event:, bios: true})

script src='/js/events.js?#{cache_buster}'
script src='/js/benefits.js?#{cache_buster}'
