.panel
  h1
    = I18n.t('slots.edit')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start&.utc&.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end&.utc&.iso8601
      = I18n.l event.end, format: :long

.panel
  h3
    | Info

  == partial(:flash)

  - if !slot.can_edit_time?(current_actor)
    p
      = I18n.t('slots.only-organizer-can-edit')

  form action="/events/#{event.id}/slots/#{slot.id}" method=:post enctype="multipart/form-data"
    input type=:hidden name=:_method value=:put
    - if params[:referer]
      input type=:hidden name=:referer value=params[:referer]

    / Timezone offset
    input type=:hidden name=:offset value="0"

    .form-item
      p
      p.timezone-label hidden=true aria-hidden=:true
        = I18n.t 'timezone-local'
      p.timezone-label
        = I18n.t 'timezone-utc'

    .form-item
      label for=:start
        = I18n.t('fields.start')
      input name=:start type=:"datetime-local" value=slot.start&.iso8601&.gsub('Z', '') disabled=(!slot.can_edit_time?(current_actor))

    .form-item
      label for=:end
        = I18n.t('fields.end')
      input name=:end type=:"datetime-local" value=slot.end&.iso8601&.gsub('Z', '') disabled=(!slot.can_edit_time?(current_actor))

    - unless event.raid_train?
      .form-item
        p
        p
          = I18n.t 'slots.hide_end'

      .form-item
        label for=:hide_end
          = I18n.t('fields.hide_end')
        input type=:hidden name=:hide_end value=:off
        input name=:hide_end type=:checkbox checked=slot.hide_end disabled=(!slot.can_edit_time?(current_actor))

    .form-item
      label for=:image
        = I18n.t('fields.image')
      .upload-item
        - if slot.image.url
          img src=slot.image.url
        input name=:image type=:file

    .form-item
      label for=:description
        = I18n.t('fields.description')
      textarea name=:description placeholder=I18n.t('placeholders.slot-description')
        = slot.description

    .form-item
      label for=:bio
        = I18n.t('fields.bio')
      textarea name=:bio placeholder=I18n.t('placeholders.slot-bio')
        = slot.bio

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('save')

script src='/js/events.js?#{cache_buster}'
script src='/js/edit-datetime.js?#{cache_buster}'
