.panel
  h1
    = I18n.t('slots.index')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

.event-slot-index.panel
  h2#slot-index
    = I18n.t('requests.request-index')

  == partial(:flash)

  p
    a href="/events/#{event.id}/slots/new"
      = I18n.t('slots.new')

  p
    a href="/events/#{event.id}/requests"
      = I18n.t('requests.index')

  ul.participants
    - if event.participants.none?
      p
        = I18n.t('events.nothing')
      
    - event.participants.each do |actor|
      / We want spaces before each so the content is justified and looks nice
      li.participant<
        a href="##{actor.id}-requests"
          img.avatar src=actor.url_for_avatar role=:presentation
          img.service-icon src="/images/services/#{event.service}.svg"
          span.name=actor.name

.panel
  h2
    | Calendar

#event-schedule.panel
  h2
    = I18n.t('events.schedule')

  p
    = I18n.t('events.in-your-local-time')

  == partial(:"events/schedule", locals: {event: event})

- event.participants.each do |actor|
  .event-request.panel id="#{actor.id}-requests"
    h2
      img.avatar src=actor.url_for_avatar
      = actor.name

    p
      a href="#request-index"
        = I18n.t('requests.go-to-index')

    h3
      = I18n.t('requests.timeslots-requested')

    == partial(:"events/schedule", locals: {event: event, slots: event.slots.where(actor: actor)})

script src='/js/events.js?#{cache_buster}'
script src='/js/edit-datetime.js?#{cache_buster}'
