.panel
  h1
    = I18n.t('slots.new')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}/slots"
      = I18n.t('slots.index')

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start&.utc&.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end&.utc&.iso8601
      = I18n.l event.end, format: :long

.panel
  h3
    | Info

  == partial(:flash)

  form action="/events/#{event.id}/slots" method=:post
    - if params[:referer]
      input type=:hidden name=:referer value=params[:referer]

    / Timezone offset
    input type=:hidden name=:offset value="0"

    .form-item
      label for=:handle
        = I18n.t('fields.handle')
      input name=:handle type=:text value=slot.actor&.handle

    .form-item
      p
      p.timezone-label hidden=true aria-hidden=:true
        | Times are in your local timezone
      p.timezone-label
        | Times are in UTC

    .form-item
      label for=:start
        = I18n.t('fields.start')
      input name=:start type=:"datetime-local" value=slot.start&.iso8601&.gsub('Z', '')&.split('+')&.first

    .form-item
      label for=:end
        = I18n.t('fields.end')
      input name=:end type=:"datetime-local" value=slot.end&.iso8601&.gsub('Z', '')&.split('+')&.first

    - unless event.raid_train?
      .form-item
        p
        p
          = I18n.t 'slots.hide_end'

      .form-item
        label for=:hide_end
          = I18n.t('fields.hide_end')
        input type=:hidden name=:hide_end value=:off
        input name=:hide_end type=:checkbox checked=slot.hide_end

    .form-item
      label for=:bio
        = I18n.t('fields.bio')
      textarea name=:bio placeholder=I18n.t('placeholders.slot-bio')
        = slot.actor&.description

    .form-item
      label for=:image
        = I18n.t('fields.image')
      .upload-item
        - if slot.image.url
          img src=slot.image.url
        input name=:image type=:file

    .form-item
      label for=:description
        = I18n.t('fields.description')
      textarea name=:description placeholder=I18n.t('placeholders.slot-description')
        = slot.description

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        = I18n.t('submit')

script src='/js/events.js?#{cache_buster}'
script src='/js/edit-datetime.js?#{cache_buster}'
