- if event.image.url
  a.page.top-image.temporary.static href='#event-name'
    img.page.event src=event.url_for_image role=:presentation

- if session[:flash]
  .panel
    == partial(:flash)

#event-name.panel
  h1
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start.utc.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end.utc.iso8601
      = I18n.l event.end, format: :long
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

#event-page.panel
  h2
    = page.name

  - if page.content_type == 'markdown'
    .markdown
      == render_markdown(page.content || "")
  - else
    = page.content

script src='/js/events.js?#{cache_buster}'
