/ Render out a panel depicting the given 'benefit'
/ locals:
/ - event: The Event this is ultimately representing
/ - benefit: The Benefit that we are depicting
.event-benefit.panel data-poll-url="/events/#{event.id}/benefits/#{benefit.id}"
  h2
    = I18n.t('benefits.this-event-benefits')

  .markdown
    == render_markdown(benefit.description || "")

  .fundraiser
    img src=(benefit.image_url||benefit.team.avatar_url)
    h3
      = benefit.cause_name
    .markdown
      == render_markdown(benefit.cause_description || "")

  .fundraiser-bar
    .bar style="width: #{benefit.percentage}%"
  .fundraiser-status
    span.raised data-currency=benefit.currency data-value=benefit.raised
      = Money.from_cents(benefit.raised, benefit.currency).format
    span.goal data-currency=benefit.currency data-value=benefit.goal
      = Money.from_cents(benefit.goal, benefit.currency).format

  p.donate
    a href=benefit.donate_url target=:_blank
      | Donate!

  .fundraiser-organizer
    h4
      = I18n.t('benefits.organized-by')

    p
      - link = benefit.team.links.first
      - if link&.url
        a href=link.url
          img src=benefit.team.avatar_url
          = benefit.team.name
      - else
        img src=benefit.team.avatar_url
        = benefit.team.name
    .markdown
      == render_markdown(benefit.team.description || "")

  - if event.owned_by?(current_actor)
    p
      a href="/events/#{event.id}/benefits/#{benefit.id}/edit"
        = I18n.t('benefits.edit')

    form action="/events/#{event.id}/benefits/#{benefit.id}" method=:post onsubmit="return confirm('#{I18n.t('confirm.benefit-deletion')}')"
      input type=:hidden name=:_method value=:delete
      button.button type=:submit
        = I18n.t('delete')
