.panel
  h1
    - if benefit.persisted?
      = I18n.t('benefits.edit')
    - else
      = I18n.t('benefits.new')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

#event-name.panel
  h2
    = event.name || 'Raid Train'
  p
    time.start datetime=event.start&.utc&.iso8601
      = I18n.l event.start, format: :long
    = " - "
    time.end datetime=event.end&.utc&.iso8601
      = I18n.l event.end, format: :long

.panel
  h3
    | Info

  == partial(:flash)

  - action = "/events/#{event.id}/benefits"
  - if benefit.persisted?
    - action = "/events/#{event.id}/benefits/#{benefit.id}"
  form action=action method=:post enctype="multipart/form-data"
    - if benefit.persisted?
      input type=:hidden name=:_method value=:put
    - if params[:referer]
      input type=:hidden name=:referer value=params[:referer]

    .form-item
      p
      p
        = I18n.t('benefits.missing-fields-via-url')

    .form-item
      label for=:url
        = I18n.t('fields.url')
      input name=:url value=benefit.url placeholder='https://tiltify.com/+my-team/my-fundraiser'

    .form-item
      label for=:donate_url
        = I18n.t('fields.donate-url')
      input name=:donate_url value=benefit.donate_url

    .form-item
      label for=:name
        = I18n.t('fields.name')
      input name=:name value=benefit.name

    .form-item
      label for=:description
        = I18n.t('fields.description')
      textarea name=:description placeholder=I18n.t('placeholders.benefit-description')
        = benefit.description

    .form-item
      label for=:cause_name
        = I18n.t('fields.cause-name')
      input name=:cause_name value=benefit.cause_name

    .form-item
      label for=:cause_description
        = I18n.t('fields.cause-description')
      textarea name=:cause_description placeholder=I18n.t('placeholders.benefit-cause_description')
        = benefit.description

    .form-item.form-submit
      .empty role=:presentation
      button.button type=:submit
        - if benefit.persisted?
          = I18n.t('save')
        - else
          = I18n.t('submit')
