.panel
  h1
    = I18n.t('benefits.index')

.panel
  p
    span>
      = I18n.t('go-back-to')
    a href="/events/#{event.id}"
      = event.name

.event-benefit-index.panel
  h2#benefit-index
    = I18n.t('benefits.benefits-list')

  == partial(:flash)

  p
    a href="/events/#{event.id}/benefits/new"
      = I18n.t('benefits.new')

- event.benefits.each do |benefit|
  == partial(:'events/benefits/show', locals: { event:, benefit: })
