nav
  ul.navigation
    li.navigation.events
      a href='/events'
        = I18n.t('events.index')
    - if logged_in? && Event.can_create?(current_actor)
      li.navigation.new-event
        a href='/events/new'
          = I18n.t('events.new')
    - if logged_in? && current_actor.admin?
      li.navigation.admin-assume
        a href='/admins/assume'
          = I18n.t('admins.assume')
    - if defined?(event) && event.owned_by?(current_actor)
      li.navigation.separator
      li.navigation.view-event
        a href='/events/#{event.id}'
          = I18n.t('events.show')
      li.navigation.edit-event
        a href='/events/#{event.id}/edit'
          = I18n.t('events.edit')
      li.navigation.view-requests
        a href="/events/#{event.id}/requests"
          = I18n.t('requests.index')
      /li.navigation.view-slots
        a href="/events/#{event.id}/slots"
          = I18n.t('slots.index')
      li.navigation.view-benefits
        a href="/events/#{event.id}/benefits"
          = I18n.t('benefits.index')
    - if defined?(event) && event.owner_id == current_actor.id
      li.navigation.event-admin
        a href="/events/#{event.id}/admin"
          = I18n.t('events.admin')
    - if defined?(event) && event.owned_by?(current_actor)
      li.navigation.separator
      li.navigation.help
        a href='https://gitlab.com/wilkie/raidtrainer/-/blob/main/USAGE.md' target=:_blank
          = I18n.t('help')
      li.navigation.report-bug
        a href='https://gitlab.com/wilkie/raidtrainer/-/issues' target=:_blank
          = I18n.t('report-bug')
  ul.navigation.actor-navigation
    - if logged_in?
      li.navigation.actor
        a href="/actors/#{current_actor.id}"
          img.avatar src=current_actor.url_for_avatar
          span.name=current_actor.name
      li.navigation.logout
        a href='/logout'
          = I18n.t('logout')
    - else
      li.navigation.login
        a href='/login'
          = I18n.t('login')
