doctype html
html lang="en-US" 
  head
    link rel='icon'       sizes='16x16'   href='/images/logos/favicon-16.png'
    link rel='icon'       sizes='32x32'   href='/images/logos/favicon-32.png'
    link rel='icon'       sizes='48x48'   href='/images/logos/favicon-48.png'
    link rel='stylesheet' type='text/css' href='/css/app.css?#{cache_buster}'
    meta name='viewport' content='width=device-width, initial-scale=1'
    title
      - if defined?(event) && event
        = event.name
      - else
        | Raid Trainer
  body
    / Load the Twitch embed JavaScript file
    script src="https://embed.twitch.tv/embed/v1.js"

    / Load luxon
    script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js"

    - if logged_in? || request.path == '/'
      == partial(:nav, locals: defined?(event) ? {event:} : {})
    - if defined?(background)
      .content style="background: url('#{CGI::escapeHTML(background)}')"
        == yield
    - else
      .content
        == yield
