.login
  - if session[:flash]
    .panel
      == partial(:flash)

  / Direct ourselves to the Omniauth 'twitch' provider to log in via Twitch
  - if RaidTrainer.configuration[:twitch]
    form action="/auth/twitch?origin=#{CGI.escape(params[:referer] || '')}" method=:post
      input type=:hidden name=:authenticity_token value=Rack::Protection::AuthenticityToken.token(env['rack.session'])
      - if params[:referer]
        input type=:hidden name=:origin value=params[:referer]
      button.button type=:submit
        = I18n.t('login-to.twitch')

  - if RaidTrainer.development?
    - if Actor.count == 0
      .panel
        h3
          | Create an admin account

        == partial(:flash)

        form action="/actors" method=:post
          .form-item
            label for=:handle
              = I18n.t('fields.handle')
            input name=:handle type=:text value=''
            input name=:admin type=:hidden value='on'
        .form-item.form-submit
          .empty role=:presentation
          button.button type=:submit
            | Create
    - else
      form action='/auth/local' method=:post
        input type=:hidden name=:authenticity_token value=request.env['rack.session']['csrf']
        - if params[:referer]
          input type=:hidden name=:origin value=params[:referer]
        button.button type=:submit
          | Local Login (As First Actor)

      form action='/auth/local' method=:post
        input type=:hidden name=:authenticity_token value=request.env['rack.session']['csrf']
        - if params[:referer]
          input type=:hidden name=:referer value=params[:referer]
        input type=:hidden name=:last value="on"
        button.button type=:submit
          | Local Login (As Oldest Actor)
